<div id="<%= dom_id transaction %>">
  <p>
    <strong>Date:</strong>
    <%= transaction.date %>
  </p>

  <p>
    <strong>Memo:</strong>
    <%= transaction.memo %>
  </p>

  <p>
    <strong>Ref:</strong>
    <%= transaction.ref %>
  </p>


</div>
